body{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.content{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hotBar{
    width: 100%;
    height: auto;
    min-height: 4vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    display: flex;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-wrap: wrap;
    align-content: flex-start;

}



#chip{
    margin-top: .25vw;
    width: fit-content;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    height: 2vh;
    background-color: #c3e9ff;
    border: 1px solid #006eff86;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 50px;
    display: block;
    position: relative;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: .25vw;
}
#chipText{
    color: #0077ff;
}
.delete{
    margin-left: .5vw;
}
.delete:hover{
    cursor: pointer;
}
#chipText{
    margin: 0;
}
.delete:after{
    content: "\D7";
    font-size: 20px;
    color: rgba(88, 88, 88, 0.37);
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 10%;
}
#options{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
}
.chipActive{
    background-color: rgba(210, 226, 255, 0.589);
}
button{
    height: 2vw;
    width: 20%;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.2s ease-in-out;
    font-weight: 600;

}
button:hover{
    transform: scale(1.02);

}

@media screen and (max-width: 1200px) {
    button{
        width: 15vw;
        height: 5vh;
    }
}
@media screen and (max-width: 500px) {
    button{
        width: 20vw;
        height: 4vh;
    }
}